.dynamics-font {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-weight:normal;
}
td{
    font-weight:normal;
}
a {
   color: #1E7EC8;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}