<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add connectionString="AuthType=OAuth; Url=https://crm4shamsutdinov.crm4.dynamics.com/; 
                                        Username=happinessfoot@studynaviconcrm.onmicrosoft.com; Password=q!1w@2e#3r$4; 
                                        RequireNewInstance=true; AppId=51f81489-12ee-4a9e-aaae-a2591f45987d;RedirectUri=app://58145B91-0C36-4500-8554-080854F2AC97;" name="connectionCRM"/>
  </connectionStrings>
</configuration>